In [38]:
# import data
import pandas as pd
df_train = pd.read_csv('adult.data') 
df_test = pd.read_csv('adult.test')

# please use the files I provided;
# i edited them manually because editing this in Python is a pain
# and I frankly don't have the time to write that code.
# Sorry.

df_train.info()
df_train['workclass'].unique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   martial-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   gender          32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hour-per-week   32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

array(['State-gov', 'Self-emp-not-inc', 'Private', 'Federal-gov',
       'Local-gov', '?', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [41]:
# Preprocess Data
# information based on https://archive.ics.uci.edu/ml/datasets/Adult
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder 

# one hot encode workclass
# potential inputs: ?, Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
workclassEncoder = OneHotEncoder()
encoded = workclassEncoder.fit_transform(df_train[['workclass']])
fNames = workclassEncoder.get_feature_names_out()
encoded = pd.DataFrame(encoded)

display(encoded)

# scale fnlwgt

# one hot encode education

                   0
0        (0, 7)\t1.0
1        (0, 6)\t1.0
2        (0, 4)\t1.0
3        (0, 4)\t1.0
4        (0, 4)\t1.0
...              ...
32556    (0, 4)\t1.0
32557    (0, 4)\t1.0
32558    (0, 4)\t1.0
32559    (0, 4)\t1.0
32560    (0, 5)\t1.0

[32561 rows x 1 columns]